<h1>Closets Station</h1>

  <div class="station">
    <div class="col-sm-6 col-med-4 col-xs-12">
      <p>name: <%= facade.nearest_station.name %></p>
		  <p>address: <%= facade.nearest_station.address %></p>
    </div>
  </div>